doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Preguntas
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/app.css' media='screen,projection')
    link(rel='stylesheet', href='/materialize/materialize.css')
    script(src="https://unpkg.com/vue")
  body
    nav.light-blue.lighten-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='/preguntas') Preguntas
        ul.right
          if authed
            li
              a(href='#')
                i.large.material-icons perm_identity
            li
              a(href='/logout') Salir #{reqUser.nickname}

          else
            li
              form(method='POST', action='/login')
                  li
                    label.lables-navigation(for='nickname') Nickname:
                  li
                    input(type='text', name='nickname')
                  |
                  li
                    label.lables-navigation(for='passwprd') Contrase&ntilde;a:
                  li
                    input(type='password', name='password')
                  |
                  li
                    button.btn.waves-effect.waves-light.teal.lighten-1(type='Submit') Log In
              |
              li
                a(href='/signup') Registrate

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/materialize/materialize.js')

    block content

    footer.page-footer.teal
      .container
          .row
            .col.l6.s12
              h5.white-text Proyecto Preguntas
              |
              p.grey-text.text-lighten-4
                | Me invent&eacute; este proyecto para aprender NodeJS y otras tecnolog&iacute;as (sass, gulp, express, materialize, etc).
            |
            .col.l3.s12
              h5.white-text Contacto
              |
              ul
                li
                  a.white-text(href='https://github.com/JayKob141/Preguntas') Proyecto en Github
      |
      .footer-copyright
        .container
          | Made by
          a.teal-text.text-lighten-3(href='http://materializecss.com') Materialize
