extends layout

block content
  h1 Registrate

  if message
    p= message

  form(method='POST' action='/signup')
    label(for='nickname') Nickname:
    input(type='text', name='nickname')
    label(for='password') Password:
    input(type='password', name='password')
    label(for='passwordc') Confirm Password:
    input(type='password', name='passwordc')
    button(type='submit') Ingresar
