extends layout

block content
  .section.no-pad-bot
      .container
          br
          br
          |
          h1.header.center.teal-text.text-lighten-2 #{user.nickname} #{itIsMe}
          |
          .row.center
            h5.header.col.s6.light Fecha de registro: #{user.fecha_registro}
            |
            h5.header.col.s6.light Preguntas:
          |
          .row.center
            h5.header.col.s12.light Mis preguntas:
          |
          br
          br
          |
          br
          br
          |
          br
          br
          |
          br
          br
          |
          br
          br
          |
          br
          br
          |
          br
          br
          |
          br
          br
